<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container">
		<a class="navbar-brand" href="/">EcoShop</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul
				class="navbar-nav me-auto">
				{# {{render(controller('App\\Controller\\CategoryController::renderMenuList'))}} #}

				{% for cat in categoryRepository.findAll %}
					<li class="nav-item">
						<a class="nav-link" href="#">{{cat.name}}</a>
					</li>
				{% endfor %}
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="#" class="nav-link">{{'navbar.signup'|trans}}</a>
				</li>
				<li class="nav-item">
					<a href="#" class="btn btn-success btn-sm">{{'navbar.login'|trans}}</a>
				</li>
				<li class="nav-item">
					<a href="#" class="btn btn-danger btn-sm">{{'navbar.logout'|trans}}</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
